<h1>Editing private content</h1>

<%= render "form", private_content: @private_content %>

<br>

<div>
  <%= link_to "Show this private content", @private_content %> |
  <%= link_to "Back to private contents", private_contents_path %>
</div>
