<h1>Editing public content</h1>

<%= render "form", public_content: @public_content %>

<br>

<div>
  <%= link_to "Show this public content", @public_content %> |
  <%= link_to "Back to public contents", public_contents_path %>
</div>
