<p style="color: green"><%= notice %></p>

<h1>Public contents</h1>

<div id="public_contents">
  <% @public_contents.each do |public_content| %>
    <%= render public_content %>
    <p>
      <%= link_to "Show this public content", public_content %>
    </p>
  <% end %>
</div>

<%= link_to "New public content", new_public_content_path %>
